<div fxFill>
    <div [formGroup]="form" fxLayoutAlign="center center" fxLayout="column">
        <p>Dispositivos Suportados</p>
        <div fxLayout="column">
            <mat-slide-toggle formControlName="NinetendoJoycon" color="accent" fxLayoutAlign="center center">
                Nintendo Joycon Switch
            </mat-slide-toggle>
            <mat-slide-toggle formControlName="EyeControl" color="accent" fxLayoutAlign="center center" style="margin-top: 16px;">
                Controle Visual
            </mat-slide-toggle>
        </div>

        <p>Tipo Dispositivo</p>
        <div fxLayout="row">
            <mat-slide-toggle formControlName="ControleAnalogico" color="accent" fxLayoutAlign="center center" style="margin-right: 6px;">
                Controle Analógico
            </mat-slide-toggle>
            <mat-slide-toggle formControlName="ControleSensorial" color="accent" fxLayoutAlign="center center">
                Controle Sensorial
            </mat-slide-toggle>
        </div>
    </div>
</div>