<mat-drawer-container fxFill>
    <mat-drawer #drawer mode="side">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center">
            <p (click)="onNavigate('side-navigation/on-screen')">Demo</p>
            <p (click)="onNavigate('side-navigation/control-settings')">Controladores</p>
        </div>
    </mat-drawer>

    <div fxFill style="padding: 8px;">
        <div fxFlex="6">
            <button type="button" mat-button (click)="drawer.toggle()">
                Abrir Navegação
            </button>
        </div>

        <div fxFlex>
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>