<div fxLayout="column" fxFill>
    
    <div fxFlex="5">
        <mat-form-field style="display: flex;padding: 18px;">
            <input #inputElementRef matInput type="text" [(ngModel)]="input">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxFlex>

        <div fxLayout="column" fxLayoutAlign="end none" fxFlex>
        </div>

        <div fxLayoutAlign="center center">
        </div>

        <div fxLayout="column" fxLayoutAlign="none end" fxFlex>
        </div>
    </div>

</div>